/* HomePage.module.css */
.container {
  padding: 20px;
}

/* Hero section with a background image */
.heroSection {
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 20px; /* Ensure spacing between sections */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
  position: relative;
}

.heroSection h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.heroSection p {
  font-size: 24px;
  margin-bottom: 20px;
}

.heroButton {
  background-color: #008037; /* Green, adjust based on branding */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.heroButton:hover {
  background-color: #004d26;
}

  
  /* Styles for the services overview section */
  .servicesOverview {
    padding: 20px;
  background-color: white; /* Consider using your brand colors */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
  border-radius: 8px;
  }
  
  /* About Us section with possible adjustments */
  .aboutUs {
    padding: 50px 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #e0e0e0;
}

.aboutContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.placeholderImage {
    margin-bottom: 20px;
}

.textContent {
    max-width: 800px;
}

.textContent p {
    margin: 15px 0;
}
  
 /* Contact Section */
.contactSection {
  text-align: center;
  padding: 50px 20px;
}

.contactSection h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contactLink {
  color: #008037;
  font-weight: bold;
  text-decoration: underline;
}

.contactLink:hover {
  text-decoration: none;
}
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .heroSection {
      padding: 60px 15px;
      height: auto;
    }
  
    .heroSection h1 {
      font-size: 36px;
      margin-bottom: 5px;
      line-height: 1.2; /* Adjust line height to prevent wrapping */
    }
  
    .heroSection p {
      font-size: 18px;
      margin-bottom: 15px;
    }
  
    .heroButton {
      padding: 8px 16px;
    }
  
    /* Add responsive adjustments for other sections as needed */
  }
  
  